<h2>Users search for "<%= word %>"</h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>introduction</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
        <td><%= link_to "Show", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>