<h1><%= @another_entry.user.name %>さんとのチャット</h1>
<!--部分テンプレートでチャット一覧を表示、非同期通信で更新を行う-->
<% @messages.each do |m| %>
  <%= m.body %>
<% end %>

<%= form_for @message do |f| %>
  <%= f.text_field :body, placeholder: "メッセージを入力してください" %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.submit "送信する" %>
<% end %>